.scroll-reveal {
  margin: 0;
  padding: 0;
}

.scroll-reveal-text {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

.word {
  display: inline-block;
}
